$darkest-grey: #202020;
$background-grey: #e5e5e5;
$lightest-grey: #f2f2f2;
$main-navy: #1D263B;
$main-maroon: #841122;
$accent: #C9B170;

$heading-font: 'Petit Formal Script', cursive;
$body-font: 'Raleway', sans-serif;

/* Enables sticky footer */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.main {
  flex: 1;
}

/* Body Styling */
body {
  background: $background-grey;
}

/* Base Styles */
h1, h2, h4 {
  font-family: $heading-font;
}

h3, a, p {
  font-family: $body-font;
}

section {
  margin: 3rem 0;
  padding: 0 .5rem;

  p {
    margin-top: 1rem;
  }
}

/* Navbar Styling */
.navbar {
  background: $main-navy;
  width: 100%;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 1rem .5rem;

    li {

      a {
        color: $lightest-grey;
        text-decoration: none;
      }

      a:hover {
        color: $accent;
        text-decoration: underline;
      }
    }
  }
}

/* Header Styling */
.header {
  background: $main-navy;
  color: $lightest-grey;
  display: flex;
  flex-flow: column wrap;
  height: 550px;
  justify-content: center;
  text-align: center;
  width: 100%;

  h1 {
    font-size: 4rem;
    padding: 0 .5rem;
  }

  h3 {
    color: $accent;
    font-size: 2rem;
    margin-top: 2rem;
    padding: 0 .5rem;
  }
}

/* Main Content Styling */
.main {
  section {
    h2 {
      color: $main-maroon;
    }
  }
}

/* Home Page Styling */
.profiles {
  display: flex;

  #meg-homepage,
  #ryan-homepage {
    margin: 1.5rem;
    width: 50%;
  }

  #meg-homepage > img,
  #ryan-homepage > img {
    height: 100%;
  }
}

#family {
  margin: 3rem auto;
  width: 75%;
}

.quote-aside {
  background: $accent;
  margin: 0 auto;

  .quote {
    padding: 1.5rem;
  }
}

/* Wedding Party Page Styling */
/* Section Styling */

.section-container {
  margin: 3rem auto;
  width: 95%;

  h2 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .venue-name {
    margin-bottom: 0;
    text-align: left;
  }

  .venue-name a {
    font-family: $heading-font;
    color: $main-maroon;
  }

  .image-card {
    background: $lightest-grey;
    border: .5rem solid $lightest-grey;
    box-shadow: 0 1px 1px rgba(0,0,13%,0.08), 
                0 2px 2px rgba(0,0,13%,0.08), 
                0 4px 4px rgba(0,0,13%,0.08), 
                0 8px 8px rgba(0,0,13%,0.08),
                0 16px 16px rgba(0,0,13%,0.08);
    margin: 0 auto 3rem auto;

    img {
      width: 100%;
    }

    .wedding-party {
      max-height: 560px;
      object-fit: contain;
    }

    .bonura {
      background: #432F24;
    }

    .emily-furrer {
      background: #594570;
    }

    .werner {
      background: #32262B;
    }

    .young {
      background: #B2978C;
    }

    .audrey-ryan {
      background: #2F4345;
    }

    .jillian-ryan {
      background: #302B33;
    }

    .samantha-motta {
      background: #2A1415;
    }

    .baio {
      background: #444543;
    }

    .kerri {
      background: #C1957F;
    }

    .laikin {
      background: #16415F;
    }
  }
}

/* Details Page Styling */
.details {
  text-align: center;
}

.container_50-50 {
  margin: 3rem auto;
}

.btn {
  margin: 1rem auto;
  padding: .5rem;
  width: 100%;

  a {
    color: #fff;
    display: block;
  }
}

.target {
  background: #CC0000;
  text-align: center;
}

.amazon {
  background: #131921;
  color: #fff;
  text-align: center;
}

/* Footer Styling */
.footer {
  background: $lightest-grey;
  padding: 1.5rem .5rem;
  text-align: center;
  width: 100%;

  span {
    color: red;
  }

  a {
    color: $main-maroon;
  }
}


/* Media Queries */
@media (min-width: 721px) {
  #our-story {
    width: 60%;

    .quote-aside {
      width: 65%;
    }
  }
  .section-container {
    width: 75%;

    .image-card {
      width: 55%;
    }

    #venue-picture {
      width: 80%;
    }
  }

  .container_50-50 {
    display: flex;
    margin: 3rem auto;
    max-width: 40em;

    .registry {
      margin: 1rem;
      width: 50%;
    }
  }
}