$darkest-grey: #202020;
$background-grey: #e5e5e5;
$lightest-grey: #f2f2f2;
$main-navy: #1D263B;
$main-maroon: #841122;
$accent: #C9B170;

/* Enables sticky footer */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.main {
  flex: 1;
}

/* Body Styling */
body {
  background: $background-grey;
}

/* Base Styles */
section {
  margin: 3rem 0;
  padding: 0 .5rem;

  p {
    margin-top: 1rem;
  }
}

/* Navbar Styling */
.navbar {
  background: $main-navy;
  width: 100%;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 1rem .5rem;

    li {

      a {
        color: $lightest-grey;
        text-decoration: none;
      }

      a:hover {
        color: $accent;
        text-decoration: underline;
      }
    }
  }
}

/* Header Styling */
.header {
  background: $main-navy;
  color: $lightest-grey;
  display: flex;
  flex-flow: column wrap;
  height: 450px;
  justify-content: center;
  text-align: center;
  width: 100%;

  h1 {
    font-size: 4rem;
  }

  h3 {
    color: $accent;
  }
}

/* Main Content Styling */
.main {
  section {
    h2 {
      color: $main-maroon;
    }
  }
}

/* Wedding Party Page Styling */
/* Section Styling */
.bridal-party-section {
  margin: 3rem auto;
  width: 75%;

  h2 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .venue-name {
    margin-bottom: 0;
    text-align: left;
  }

  .venue-name a {
    color: $main-maroon;
  }

  .image-card {
    background: $lightest-grey;
    border: .5rem solid $lightest-grey;
    box-shadow: 0 1px 1px rgba(0,0,13%,0.08), 
                0 2px 2px rgba(0,0,13%,0.08), 
                0 4px 4px rgba(0,0,13%,0.08), 
                0 8px 8px rgba(0,0,13%,0.08),
                0 16px 16px rgba(0,0,13%,0.08);
    margin-bottom: 3rem;
    width: 100%;

    img {
      width: 100%;
    }
  }
}

/* Footer Styling */
.footer {
  background: $lightest-grey;
  padding: 1.5rem .5rem;
  text-align: center;
  width: 100%;

  span {
    color: red;
  }

  a {
    color: $main-maroon;
  }
}